{
  "extends": "standard",
  "env": {
    "es6": true
  },
  "rules": {
    "no-fallthrough": 0
  },
  "plugins": [ "json" ],
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true
  }
}