{
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "beforeAll": true,
    "afterAll": true,
    "afterEach": true,
    "before": true,
    "after": true
  }
}